/*****************
General Formatting
******************/

* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}


html,
body {
    padding: 0;
    margin: 0;
}

section,
header,
footer {
    padding: .5rem;
}

.menu {
    width: 100%;
    padding: .5rem;
    background-color: #aaa;
    margin: 1px;
}

.submenu {
    list-style-type: none;
    width: 100%;
    margin: 0;
    background-color: #eee;
    padding-left: .5rem;
}

/**************
Your Formatting
***************/

#pagegrid {
    display: grid;
    margin: 0 auto;
    width: 95vw;
    max-width: 1100px;
    min-height: 100vh;
    grid-template-areas: "header header header" "nav story source" "nav story extracredit" "footer footer footer";
    /* organizes content, basically fills rows and columns but doesnt define size */
    grid-template-rows: 80px 1/2fr 1/2fr 30px;
    /* defines size of rows */
    grid-template-columns: 200px 2fr 1fr;
    /* defines size of columns */
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    /*justify content centers things horizontally*/
    align-content: center;
    /*align items centers things vertically*/
    background-color: lightblue;
}

nav {
    grid-area: nav;
    background-color: lavenderblush;

}

#story {
    grid-area: story;
    background-color: lightcyan;
}

#source {
    grid-area: source;
    background-color: lightsalmon;

}


#extracredit {
    grid-area: extracredit;
    background-color: white;
    margin: 0 auto;


}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    /*justify content centers things horizontally*/
    align-content: center;
    /*align items centers things vertically*/
    background-color: lightblue;
}

ul li:hover {
    background: lightpink;
    color: magenta;
    cursor: pointer;

}

@media (max-width: 760px) {
    #pagegrid {
        width: 100vw;
        grid-template-areas: "header" "story" "source" "extracredit" "nav" "footer";
        grid-template-rows: 80px auto auto auto 30px;
        grid-template-columns: 1fr;

    }

    header {
        grid-row: 1;

    }

    #story {
        grid-row: 2;
    }

    #source {
        grid-row: 3;
    }

    #extracredit {
        grid-row: 4;
    }

    nav {
        grid-row: 5;
    }

    footer {
        grid-row: 6;
    }
}
