/*********************************
General Formatting (Do Not Change)
*********************************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

header,
footer {
    background-color: #86af49;
}

nav,
aside,
article {
    padding: .5rem;
}

nav,
aside {
    background-color: #b5e7a0;
}


/**************
Your Formatting
***************/




#wrapper {
    display: grid;
    margin: auto;
    width: 90vw;
    max-width: 1200px;
    min-height: 100vh;
    grid-template-areas:    "header header header"
                            "nav article aside"
                            "footer footer footer";
                            /* organizes content, basically fills rows and columns but doesnt define size */

    grid-template-rows: 4rem auto 3rem; /* defines size of rows */
    grid-template-columns: 1fr 2fr 200px; /* defines size of columns */
}

header {
    display: flex;
    grid-area: header;
    justify-content: center;  /*justify content centers things horizontally*/
    align-content: center;  /*align items centers things vertically*/
}

nav {
    grid-area: nav;
}

article {
    grid-area: article;
}

aside {
    grid-area: aside;
}

footer {
   display: flex;
    grid-area: footer;
    justify-content: center;  /*justify content centers things horizontally*/
    align-content: center;  /*align items centers things vertically*/
}

.menuitem{
    background-color: white;
    margin: 0;
    border-top: solid white 1px;
}

.submenu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;

}

li{
    padding-left: .25rem;
    background-color: #E5E5E5;
}


@media (max-width: 760px){
    #wrapper{
        width: 100vw;
        grid-template-areas: "header" "nav" "article" "aside" "footer";
        grid-template-rows: auto;
        grid-template-columns: 1fr;

    }

    header{
        grid-row: 1;
    }

    nav{
        grid-row: 2;
    }

    article{
        grid-row: 3;
    }

    aside{
        grid-row: 4;
    }

    footer{
        grid-row: 5;
    }
}
